<div class="grid-x">
  <div class="cell large-12">
    <h4>Информация о классе</h4>
        <form method="get">
        <div class="cell"> 
          <%for i in 'А'..'Я'%>      
              <input class="hollow button" type="submit" name="letter" value="<%=i%>"/>
          <%end%>
        </form>
      </div>
      </div>
      <table>
       <thead>
        <tr>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
        </tr>
      </thead>
      <tbody>
        <%@filter_students.each do |student|%>
          <tr>
            <td><%= student.surname%></td>
            <td><%= student.name%></td>
            <td><%= student.patronymic%></td>
          </tr>
        <% end %>
        <%if @filter_students.size == 0%>
        <div class="large-12 cell callout warning">
           <p>
             В этом классе нет учеников с такой первой буквой в фамилии!
           </p>
       <%end%>
      </tbody>
      </table>
        <a class="button secondary" href="/school/<%=@school.id%>">Назад</a>
    </div>
</div>