<% form({method: :post},{obj: @parameters}) do |f|%>
<div class="grid-x grid-margin-x">
  <div class="large-12 cell">
    <%= f.input(:date, type: :date,label:'Дата',placeholder:'2021-08-14')%>
  </div>  
  <div class="large-12 cell">
    <%= f.input(:time, type: :time,label:'Время',placeholder:'09:10')%>
  </div>
   <div class="large-12 cell">
    <%= f.input(:place, type: :text,label:'Магазин',placeholder:'Лотос')%>
  </div>
  <div class="large-12 cell">
    <%= f.input(:number, type: :number,label:'Номер',placeholder:'456')%>
  </div>
   <div class="large-12 cell">
    <%= f.button(value: form_type,class: 'button')%>
    <a href="<%=back_location%>" class="button secondary">Отмена</a>
  </div>
</div>
<%end%>