<% form({method: :post},{obj: @parameters}) do |f|%>
<div class="grid-x grid-margin-x">
  <div class="large-12 cell">
    <%= f.input(:surname,type: :text, label: 'Фамилия',placeholder: 'Иванов')%>
  </div>
  <div class="large-12 cell">
    <%= f.input(:name, type: :text,label:'Имя',placeholder:'Иван')%>
  </div>
  <div class="large-12 cell">
    <%= f.input(:patronymic, type: :text, label:'Отчество',placeholder:'Иванович')%>
  </div>
  <div class="large-12 cell">
    <%= f.input(:birthday, type: :date, label:'Дата рождения',placeholder:'2001-02-21')%>
  </div>
  <div class="large-12 cell">
    <%= f.button(value: form_type,class: 'button')%>
    <a href="<%= back_location %>" class="button secondary">Отмена</a>
  </div>
</div>
<%end%>